* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.follower {
    border: 1px solid rgb(163, 163, 163);
    transform: translate(-50%, -50%);
    z-index: 5;
}

.HH2 {
    text-transform: uppercase;
}

#anchor {
    z-index: 2;
}

.dot {
    z-index: 2;
}

.imgFirst {
    z-index: 1;
    opacity: 0;
    transform: translate(-50%, -50%);
}

h1 {
    z-index: 2;
}

.ontoHover1:hover {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.ontoHover2:hover {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.playBTN {
    z-index: 4;
    /* transform: translate(-50%, -50%); */
}

.page-1 {
    overflow: hidden;
}

.imgContainer {
    position: relative;
    height: 73vh;
    width: 78%;
}

.image3,
.image4 {
    height: 100%;
    width: 100%;
}

.image4 {
    position: absolute;
    top: 0;
    left: 0;
}
.imgContainer2 {
    position: relative;
    height: 86vh;
    width: 88%;
}

.image5,
.image6 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image6 {
    position: absolute;
    top: 0;
    left: 0;
}
.goDownChild {
    position: absolute;
    z-index: 99;
}
.goDown:hover{
    border: none;
}
.goDown:hover i{
    display: none;
}
.goDown:hover .goDownChild{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: bisque;
    transition: all ease 0.2s;
}
p{
   z-index: 99;
   opacity: 0;
}

/* hero img code */

.imgWrapper{
    position: relative;
    left: 30%;
    height: 80vh;
    width: 70%;
    background-color: #fff;
    overflow: hidden;
}
.imgSec{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.videoOne{
    position: absolute;
    height: 100%;
    width: 100%;
}